.form {
	background-color: royalblue;
	padding: 2em 4em;
	border-radius: 12px;
	box-shadow: 0 0 5px black;
	min-width: 800px;
}
.form .form__title {
	font-size: 1.7rem;
	text-shadow: 0 0 5px black;
}
.form .form__input-box {
	display: flex;
}
.form .form__input {
	padding: 0.4em;
	width: 90%;
}
.form .form__btn {
	width: 10%;
	padding: 0.4em;
    cursor: pointer;
    transition: transform 0.3s;
}
.form .form__btn:hover{
    transform: scale(1.05);
}